<footer [ngClass]="themeService.theme() === 'Dark' ? 'footer-dark' : 'footer-light'">
  <div class="footer-content text-center">
    <p class="footer-row">
      <span>
        &copy; {{getFecha()}}
        <span class="footer-logo">
          @if(themeService.theme() === 'Dark') {
            <img src="../../../assets/images/logo-pequeño.png" alt="logo pequeño" width="75" />
          }@else {
            <img src="../../../assets/images/logo_inicio.png" alt="logo inicio" width="85" />
          }
        </span>
      </span>
    </p>
  </div>
</footer>
