span{
    font-family: 'Roboto', Courier, monospace;
    color: white;
}

footer {
    /* background-color: rgb(20, 21, 50); */
    background-color: transparent !important;
  }
  
  /* p, h6{
    color: white;
  } */
  /* .footer-dark{
    background-color: black !important;
    color: white !important;
  }

    .footer-light{
    background-color: white !important;
    color: black !important;
  } */


