
<div class="row p-0 fondo-inicio">
  <div class="inicio-content">
          <div class="dossier-block">
            <div class="dossier-title">Listado de precios</div>
            <div class="dossier-btns">
              <a href="assets/images/cv.pdf" download class="floating-dosier-btn" style="text-decoration:none;">
                Descargar
              </a>
              <button class="floating-dosier-btn" (click)="verDossier()">Ver</button>
            </div>
          </div>
          <img
            src="../../assets/images/logo_inicio.png"
            alt="logo"
            class="inicio-logo fade-in-dosier"
          />
