
  <app-navbar></app-navbar>
<div class="row p-0 fondo-inicio">
  <img src="../../assets/images/logo_inicio.png" alt="logo" class="inicio-logo" />
</div>
    <div class="row">
      <div class="col-12">
        <div class="fade-in-section p-0" #contactSection>
        <div id="contact">
          <app-contact></app-contact>
        </div>
      </div>
        <!-- <div class="fade-in-section p-0" #serviciosIaSection>
          <div id="servicios-ia">
            <app-servicios-ia></app-servicios-ia>
          </div>
        </div>
        </div>
        <div> -->

      </div>
      <!-- <div class="fade-in-section p-0" #softwareSection>  
        <div id="software">
          <app-software></app-software>
        </div>
      </div>
      <div class="fade-in-section p-0" #aboutSection>  
        <div id="about">
          <app-about></app-about>
        </div>
      </div> -->
    </div>

<!-- </div> -->
