.fondo-inicio {
    background-image: url('/assets/images/fondo4.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-logo {
    /* width: 90vw; */
    /* max-width: 400px; */
    object-fit: contain;
    opacity: 0;
    animation: logoFadeIn 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}

@keyframes logoFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* @media (max-width: 768px) {
    .inicio-logo {
        width: 100%;
    }
} */